<h2 style="color: red;">1. Not showing the Nav Left or Right Arrow Buttons  (Width set to fit-content)</h2>
<section>
  <dx-tabs [width]="'fit-content'" [scrollByContent]="true" [showNavButtons]="true" [(selectedIndex)]="selectedTabIdx"
    (onSelectionChanged)="onTabChange()">
    <dxi-item *ngFor="let tab of tooManyTabs">
      <span>{{ tab.name }}</span>
    </dxi-item>
  </dx-tabs>
</section>

<h2 style="color: green;">2. Showing the Nav Left or Right Arrow Buttons (Width set to 100%)</h2>
<section>
  <dx-tabs [width]="'100%'" [scrollByContent]="true" [showNavButtons]="true" [(selectedIndex)]="selectedTabIdx"
    (onSelectionChanged)="onTabChange()">
    <dxi-item *ngFor="let tab of tooManyTabs">
      <span>{{ tab.name }}</span>
    </dxi-item>
  </dx-tabs>
</section>

<br>
<h2 style="color: green;">3. For less number of Tabs (Width set to fit-content)</h2>
<section>
  <dx-tabs [width]="'fit-content'" [scrollByContent]="true" [showNavButtons]="true" [(selectedIndex)]="selectedTabIdx"
    (onSelectionChanged)="onTabChange()">
    <dxi-item *ngFor="let tab of smallNumberOftabs">
      <span>{{ tab.name }}</span>
    </dxi-item>
  </dx-tabs>
</section>
<h2 style="color: red;">4. For less number of Tabs (Width set to 100%)</h2>
<section>
  <dx-tabs [width]="'100%'" [scrollByContent]="true" [showNavButtons]="true" [(selectedIndex)]="selectedTabIdx"
    (onSelectionChanged)="onTabChange()">
    <dxi-item *ngFor="let tab of smallNumberOftabs">
      <span>{{ tab.name }}</span>
    </dxi-item>
  </dx-tabs>
</section>